.city {
  text-transform: uppercase;
  text-align: center;
}

.city__header {
  padding: 32px 18px 16px;

  @media (min-width: @tablet-width) {
    padding: 48px 33px 55px;
  }

  @media (min-width: @desktop-width) {
    padding: 59px 50px 45px;
  }
}

.city__heading {
  margin: 0 0 37px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin: 0 0 29px;
  }
}

.city__text {
  margin: 0;
}

.city__list {
  .list-default();
  counter-reset: counter 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.city__item {
  &--compound {
    @media (min-width: @tablet-width) {
      grid-column: 1 / -1;
    }
  }
}
