.city {
  text-transform: uppercase;
  text-align: center;
}

.city__header {
  padding: 32px 18px 16px;
}

.city__heading {
  margin: 0 0 35px;
}

.city__text {
  margin: 0;
}

.city__list {
  .list-default();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.city__item {
  &--compound {
    @media (min-width: @tablet-width) {
      grid-column: 1 / -1;
    }
  }
}
