.copyright__text {
  text-transform: uppercase;
}

.copyright__link {
  display: flex;
  align-items: center;
  gap: 12px;
  min-height: 48px;
  color: @black;

  &:hover,
  &:focus {
    color: @blue;
  }

  &:active {
    color: @philippine-silver;
  }
}

.copyright__logo {
  display: block;
}
