.copyright__text {
  margin-top: 14px;
  text-transform: uppercase;
}

.copyright__link {
  display: flex;
  align-items: start;
  gap: 12px;
  min-height: 48px;
  color: @black;

  &:hover,
  &:focus {
    color: @blue;
  }

  &:active {
    color: @philippine-silver;
  }
}

.copyright__logo {
  display: block;
  flex-shrink: 0;
  width: 28px;
  height: 35px;
  margin-top: 7px;
}
