.form__fieldset {
  padding: 24px 20px 0;
  margin: 0;
  border: none;

  &--name {
    padding-bottom: 39px;
  }

  &--contacts {
    padding-bottom: 34px;
  }

  &--impression {
    padding-bottom: 24px;
  }
}

.form__legend {
  margin: 24px auto -4px;
  text-align: center;
}

.form__list {
  .list-default();
}

.form__label,
.form__input {
  display: block;
}

.form__button-wrapper {
  margin: 56px 0 22px;
  padding: 0 20px;
}

.form__required-fields {
  display: block;
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  opacity: 0.6;
}
