.hero {
  padding: 52px 0 67px;
  color: @charcoal;
  background-color: @light-blue;
  background-image:
    url("../img/backgrounds/hero-divider.svg"),
    url("../img/backgrounds/hero-banner@1x.jpg");
  background-size:
    100%,
    cover;
  background-position:
    center bottom,
    bottom left;
  background-repeat: no-repeat;

  &--main {
    padding: 90px 0 85px;
    background-position:
      center bottom,
      top left;
  }
}

.hero__image {
  display: block;
  margin: 0 auto;
}
