.hero {
  padding: 52px 18px 67px;
  color: @charcoal;
  background-color: @light-blue;
  background-image:
    url("../img/backgrounds/hero-divider.svg"),
    url("../img/backgrounds/hero-banner-mobile@1x.jpg");
  background-size: auto;
  background-position:
    center bottom,
    center bottom;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    padding: 95px 57px 117px 60px;
    background-image:
      url("../img/backgrounds/hero-divider.svg"),
      url("../img/backgrounds/hero-banner-tablet@1x.jpg");
  }

  @media (min-width: @desktop-width) {
    padding: 101px 120px 120px 117px;
  }

  &--main {
    padding: 90px 18px 85px;
    background-position:
      center bottom,
      center;
    background-size:
      auto,
      cover;

    @media (min-width: @tablet-width) {
      padding: 77px 18px 91px;
    }

    @media (min-width: @tablet-width) {
      padding: 78px 18px 90px;
    }
  }
}

.hero__image {
  display: block;
  margin: 0 auto;
}
