.input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black;
  border: none;
  background-color: @white-smoke;

  &::placeholder {
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: @black;
    opacity: 0.3;
  }

  &--text {
    width: 100%;
    padding: 16px;
  }

  &--icon {
    width: 100%;
    padding: 16px 74px 16px 16px;
  }
}
