.input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black;
  border: none;
  background-color: @white-smoke;

  &:hover,
  &:focus {
    background-color: @titanium;
  }

  &::placeholder {
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: @black;
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.5;
    color: @philippine-silver;

    &:hover,
    &:focus {
      background-color: @white-smoke;
    }
  }

  &--text {
    width: 100%;
    padding: 16px;

    &:focus:not(:placeholder-shown) {
      outline: 4px solid @titanium;
      outline-offset: -4px;
      background-color: @white;
    }
  }

  &--icon {
    width: 100%;
    padding: 16px 74px 16px 16px;

    &:focus {
      outline-offset: 1px;
    }

    &:focus:not(:placeholder-shown) {
      outline: 4px solid @titanium;
      outline-offset: -4px;
      background-color: @white;
    }
  }

  &--radio {
    position: relative;
    flex-shrink: 0;
    width: 46px;
    height: 46px;
    margin: 0;
    background-color: @white-smoke;
    border-radius: 50%;
    appearance: none;

    &:active {
      background-color: @alto;
    }

    &:checked::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: @charcoal;
      background-size: 16px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--checkbox {
    flex-shrink: 0;
    width: 46px;
    height: 46px;
    margin: 0;
    background-color: @white-smoke;
    border-radius: 4px;
    appearance: none;

    &:active {
      background-color: @alto;
    }

    &:checked {
      background-image: url("../img/stack.svg#tick");
      background-repeat: no-repeat;
      background-size: 22px 16px;
      background-position: center;
    }
  }
}
