.menu {
  flex-direction: column;
  gap: 1px;
  color: @white;
  background-color: @blue;

  @media (min-width: @tablet-width) {
    display: contents;
  }
}

.menu__item {
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0 16px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 32px;
  }

  &:first-child {
    .menu__link {
      box-shadow: @shadow-black;

      @media (min-width: @tablet-width) {
        box-shadow: none;
      }
    }
  }

  &:last-child {
    .menu__link {
      box-shadow: @shadow-white;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
      background-size: 100% 7px;
      background-position: bottom;
      background-repeat: no-repeat;

      @media (min-width: @tablet-width) {
        box-shadow: none;
        background-image: none;
      }
    }
  }
}

.menu__link {
  display: block;
  padding: 17px 60px 12px;
  box-shadow:
    @shadow-black,
    @shadow-white;

  &:hover,
  &:focus {
    background-color: @sea-blue;
  }

  &:active {
    color: rgba(@white, 0.3);
    background-color: @dark-blue;
  }

  @media (min-width: @tablet-width) {
    padding: 18px 0 17px;
    font-size: 14px;
    line-height: 21px;
    color: @black;
    background-color: transparent;
    box-shadow: none;

    &:hover,
    &:focus {
      color: @blue;
      background-color: transparent;
    }

    &:active {
      color: rgba(@black, 0.3);
      background-color: transparent;
    }
  }

  &--current {
    @media (min-width: @tablet-width) {
      color: @pine-cone;

      &:hover,
      &:focus {
        color: @pine-cone;
      }

      &:active {
        color: @pine-cone;
      }
    }
  }
}
