.modal {
  // display: grid;
  // position: fixed;
  // z-index: 30;
  // inset: 0;
  // place-items: center;
  text-align: center;
  text-transform: uppercase;
  color: @black;
  background-color: rgba(@black, 0.3);
}

.modal__failure {
  padding: 45px 42px 35px 41px;
  background-color: @white;
}

.modal__success {
  padding: 36px 39px 27px 37px;
  background-color: @white;
}

.modal__heading {
  margin: 0 0 27px;
}

.modal__text {
  margin: 0 0 27px;
}

.modal__button-wrapper {
  padding: 20px;
  background-color: @white-smoke;
}
