.page-footer {
  display: grid;
  gap: 17px;
  justify-items: center;
  padding: 30px 18px 33px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(3, auto);
    gap: 6px 48px;
    padding: 36px 60px 36px 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 36px 120px 36px 110px;
  }
}

.page-footer__hashtag {
  margin: 0 0 2px;

  @media (min-width: @tablet-width) {
    justify-self: start;
    margin: 0;
  }
}

.page-footer__list {
  .list-default();
}

.page-footer__copyright {
  margin: 0;

  @media (min-width: @tablet-width) {
    justify-self: end;
  }
}
