.photo__item {
  padding: 24px 20px 25px;
}

.photo__picture {
  margin: 0;
}

.photo__image {
  display: block;
  margin-bottom: 15px;
}

.photo__caption {
  margin: 0 0 11px;
}

.photo__heading {
  font-weight: 700;
  text-transform: uppercase;
}

.photo__author {
  margin: 0;
}

.photo__likes-count {
  padding: 5px 0 0 14px;
}
