.site-navigation {
  position: relative;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template: repeat(2, auto) / repeat(5, 1fr);
    align-items: start;
  }
}

.site-navigation--closed {
  @media (max-width: @mobile-width-only) {
    .site-navigation__list {
      display: none;
    }

    .site-navigation__button-toggle {
      background-image: url("../img/stack.svg#menu-to-open");
      background-size: 23px 22px;
    }
  }
}

.site-navigation--opened {
  @media (max-width: @mobile-width-only) {
    .site-navigation__list {
      display: flex;
    }

    .site-navigation__button-toggle {
      background-image: url("../img/stack.svg#menu-to-close");
      background-size: 22px 22px;
    }
  }
}

@media (max-width: @mobile-width-only) {
  .site-navigation--nojs {
    .site-navigation__list {
      position: static;
      display: flex;
      margin-top: 50px;
    }

    .site-navigation__button-toggle {
      display: none;
    }
  }
}

.site-navigation__logo {
  position: relative;
  right: 1px;
  width: 185px;
  margin: 0 auto -40px;

  @media (min-width: @tablet-width) {
    grid-area: 1 / 3 / 3 / 4;
    justify-self: center;
    margin: 0 -16px -40px;
  }

  @media (min-width: @desktop-width) {
    grid-area: 1 / 3 / 3 / 4;
    margin: 0 0 -40px;
  }
}

.site-navigation__list {
  .list-default();
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;

  @media (min-width: @tablet-width) {
    position: static;
  }
}

.site-navigation__button-toggle {
  .button-default();
  position: absolute;
  z-index: 20;
  top: 4px;
  right: 8px;
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}
