.staying {
  text-align: left;
}

.staying__list {
  .list-default();
  padding: 23px 0 21px;
}

.staying__item {
  padding: 0 18px 25px 65px;
}

.staying__heading {
  margin: 8px 0 16px;
}

.staying__text {
  margin: 0;
}
