.staying {
  text-align: left;
}

.staying__list {
  .list-default();
  display: grid;
  padding: 23px 0 21px;
  justify-content: center;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

.staying__item {
  display: grid;
  grid-template: repeat(2, auto) / 40px 1fr;
  column-gap: 7px;
  padding: 0 18px 25px;
  width: fit-content;

  @media (min-width: @tablet-width) {
    padding: 60px 33px 61px;
    grid-template: repeat(3, auto) / auto;
    text-align: center;
    width: auto;
  }

  @media (min-width: @desktop-width) {
    padding: 69px 50px 68px;
  }

  &::before {
    content: ' ';
    display: block;
    grid-area: 1 / 1 / 3 / 2;
    width: 40px;
    height: 40px;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      grid-area: auto;
      justify-self: center;
    }
  }

  &--accomodation {
    &::before {
      background-image: url("../img/icons/accomodation-mobile.svg");

      @media (min-width: @tablet-width) {
        width: 77px;
        height: 72px;
        background-image: url("../img/icons/accomodation-tablet.svg");
        background-size: 77px 72px;
        margin: 0 3px 26px 0;
      }

      @media (min-width: @desktop-width) {
        width: 80px;
        height: 73px;
        background-image: url("../img/icons/accomodation-desktop.svg");
        background-size: 80px 73px;
        margin: 0 2px 27px 0;
      }
    }
  }

  &--food {
    &::before {
      background-image: url("../img/icons/food-mobile.svg");

      @media (min-width: @tablet-width) {
        width: 80px;
        height: 68px;
        background-image: url("../img/icons/food-tablet.svg");
        background-size: 80px 68px;
        margin: 2px 3px 26px 0;
      }

      @media (min-width: @desktop-width) {
        width: 74px;
        height: 69px;
        background-image: url("../img/icons/food-desktop.svg");
        background-size: 73px 69px;
        margin: 3px 4px 21px 0;
      }
    }
  }

  &--souvenir {
    &::before {
      background-image: url("../img/icons/souvenir-mobile.svg");

      @media (min-width: @tablet-width) {
        width: 66px;
        height: 75px;
        background-image: url("../img/icons/souvenir-tablet.svg");
        background-size: 66px 75px;
        margin: 4px 0 10px 5px;
      }

      @media (min-width: @desktop-width) {
        width: 78px;
        height: 75px;
        background-image: url("../img/icons/souvenir-desktop.svg");
        background-size: 78px 75px;
        margin: 1px 4px 25px 0;
      }
    }
  }
}

.staying__heading {
  margin: 8px 0 16px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin: 0 0 23px;
  }

  &--food {
    @media (min-width: @desktop-width) {
      margin: 0 0 19px;
    }
  }

  &--souvenir {
    @media (min-width: @tablet-width) {
      margin: 0 0 18px;
    }

    @media (min-width: @desktop-width) {
      margin: 0 0 24px;
    }
  }
}

.staying__text {
  margin: 0;
}
