// Initial setups
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: @charcoal;
  background-color: @white-smoke;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  min-width: 300px;
  max-width: @desktop-width;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: @charcoal;
  background-color: @white;

  @media (min-width: @desktop-width) {
    box-shadow: @shadow-gray;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
